In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import psycopg2
import pymysql
import sqlalchemy_redshift
from configparser import ConfigParser
from sqlalchemy import create_engine

parser = ConfigParser()
_ = parser.read("../notebook.cfg")

# Connect to zack attack
za_user = parser.get("nffddev_2", "user")
za_pwd = parser.get("nffddev_2", "password")

za_engine = create_engine(
    f"mysql+pymysql://{za_user}:{za_pwd}@nffddev.numberfire.com/zack_attack",
    connect_args = dict(host='nffddev.numberfire.com', port=3306)
)
za_conn = za_engine.connect()

# connect to redshift
red_user = parser.get("redshift", "user")
red_pwd = parser.get("redshift", "password")

red_engine = create_engine(
    f"postgresql+psycopg2://{red_user}:{red_pwd}@rs1.usdfs.fdbox.net/fanduel",
    connect_args = dict(port=5439)
)
red_conn = red_engine.connect()

In [20]:
qry = """
select
team_id,
t.name as team_name,
sum(rush_yards) mean
from nfl_projection_skill s
inner join nfl_team t on s.team_id = t.id
where game_id = 8297
group by 1,2
"""
df = pd.read_sql(qry, za_conn)
df["mean"] = np.round(df["mean"] * 2)/2

total = pd.DataFrame({"team_id":0,"team_name":"TOTAL", "mean":df["mean"].sum()},index=[0])
df = pd.concat([df, total],axis=0)

In [10]:
qry = open("../data/prop_charts.sql", "r").read()
prop_charts = pd.read_sql(qry, red_conn)

In [24]:
df

   team_id            team_name   mean
0       16   Kansas City Chiefs  102.0
1       24  Philadelphia Eagles  149.5
0        0                TOTAL  251.5

In [23]:
df.merge(
    prop_charts.query("prop_name=='rush_yards' and position =='RB'"),
    on = 'mean'
).assign(
    over = lambda x: 1/(1-x.under)
)

,team_id,team_name,mean,prop_name,position,ou,under,over
0,16,Kansas City Chiefs,102.0,rush_yards,RB,100.5,0.502418,2.009719
1,24,Philadelphia Eagles,149.5,rush_yards,RB,149.5,0.502071,2.008317